<html xmlns:th="http://www.thymeleaf.org">

<head th:include="layout :: head(title=~{::title},links=~{})">
<title>Admin Vaccines</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>

<body th:include="layout :: body" th:with="content=~{::content}">
	<div th:fragment="content">


		<script th:inline="javascript">
      /* Otherwise Thymeleaf tries to parse Javascript as XML and breaks itself sometimes.  Sigh */
      /*<![CDATA[*/
      var app = angular.module("vaccineApp", []);
      app.controller('vaccineCtrl', function ($scope, $http) {
    	  
    	var checkValidVaccine = function(vaccine) {
    		var err = [];
    		if (vaccine.name.length > 20) {
    			err.push("Name exceeds the character limit of 20");
    		}
    		if (vaccine.ageMin < 0 || vaccine.ageMax < 0 ) {
    			err.push("Age is below minimum of 0");
    		}
    		if (vaccine.ageMax > 120) {
    			err.push("Age is above maximum of 120");
    		}
    		if (vaccine.doseNumber != 1 && vaccine.doseNumber != 2) {
    			err.push("Number of Doses must be either 1 or 2");
    		}
    		if (vaccine.doseNumber == 1 && vaccine.daysBetween != 0) {
    			err.push("One dose vaccines cannot have days between doses")
    		}
    		if (vaccine.daysBetween < 0) {
    			err.push("Days Between doses must be positive");
    		}
    		if (vaccine.ageMax <= vaccine.ageMin) {
    			err.push("Maximum age must be greater then Minimum");
    		}
    		return err.join(". ");
    	}

        $scope.vaccines = [];
        $scope.loadTable = function () {
          $http.get("/iTrust2/api/v1/addVaccine").then(
            function (response) {
              $scope.vaccines = response.data;
              //$scope.vaccine.isAvailable = false;
              $scope.message = "";
            }, function (rejection) {
              $scope.vaccines = [];
              $scope.message = "Could not display vaccines";
            });
        }

        $scope.addVaccine = function () {
          var err = checkValidVaccine($scope.vaccine);
          if (err) {
            $scope.errorAdding = err;
          } else {
            $http.post("/iTrust2/api/v1/addVaccine", $scope.vaccine).then(
              function (response) {
                $scope.loadTable();
                $scope.vaccine.name = "";
                $scope.vaccine.ageMin = 0;
                $scope.vaccine.ageMax = 0;
                $scope.vaccine.doseNumber = 0;
                $scope.vaccine.daysBetween = 0;
                $scope.vaccine.isAvailable = false;
                $scope.errorAdding = "";
              }, function (rejection) {
                $scope.errorAdding = "Could not add vaccine";
              });
          }

        }

        // gets the template to ng-include for a table row / item
        $scope.selectedVaccine = {};

        $scope.getTemplate = function (vaccine) {
          if (vaccine.name === $scope.selectedVaccine.name) return 'edit';
          else return 'view';
        };

        $scope.editVaccine = function (vaccine) {
          $scope.selectedVaccine = angular.copy(vaccine);
        };
        $scope.saveVaccine = function () {
       	  var err = checkValidVaccine($scope.selectedVaccine);
          if (err) {
            $scope.errorAdding = err;
          } else {
            $http.put('/iTrust2/api/v1/addVaccine', $scope.selectedVaccine).then(
              function (response) {
                $scope.loadTable();
                $scope.resetSelected();         
              }, function (rejection) {
                $scope.errorAdding = "Failed to edit vaccine";
              });
          }
        };

        $scope.resetSelected = function () {
          $scope.selectedVaccine = {};
        };

        // load table initially
        $scope.loadTable();
      });
			/*]]>*/
    </script>



		<div ng-app="vaccineApp" ng-controller="vaccineCtrl">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-primary">
							<div class="panel-heading">
								<h3>Admin Manage Vaccines</h3>
							</div>
							<div class="panel-body">
								<table class="table table-bordered">
									<caption>Existing Vaccines:</caption>
									<thead>
										<tr>
											<th>Name</th>
											<th>Number of Doses</th>
											<th>Minimum Age</th>
											<th>Maximum Age</th>
											<th>Time Between Doses</th>
											<th>Available</th>
											<th>Action</th>
										</tr>
									</thead>
									<tbody>
										<tr name="vaccineTableRow"
											ng-repeat="v in vaccines | orderBy: 'name'"
											ng-include="getTemplate(v)" vaccineName={{v.name}}>
										</tr>
									</tbody>
								</table>
								<!-- table in view mode -->
								<script type="text/ng-template" id="view">
                  <td name="nameCell">{{v.name}}</td>
				  <td name="typeCell">{{v.doseNumber}}</td>
                  <td name="minCell">{{v.ageMin}}</td>
				  <td name="maxCell">{{v.ageMax}}</td>
				  <td name="timeCell">{{v.daysBetween}}</td>
				  <td name="availCell">{{v.ifAvailable}}</td>
                  <td>
                    <div class="row text-center">
                      <div class="col-md-6">
                        <input type="button" value="Edit" class="btn btn-primary" name="editVaccine" ng-click="editVaccine(v)" />                         
                      </div>
                    </div>
                  </td>
                </script>

								<!-- table in edit mode -->
								<script type="text/ng-template" id="edit">
                  <td name="editNameCell">
                    <input type="text" class="form-control" ng-model="selectedVaccine.name" />
                  </td>
				  <td name="typeCell">
					<input type="number" class="form-control" ng-model="selectedVaccine.doseNumber" />
                  </td>
                  <td name="minCell">
					<input type="number" class="form-control" ng-model="selectedVaccine.ageMin" />
                  </td>
				  <td name="maxCell">
					<input type="number" class="form-control" ng-model="selectedVaccine.ageMax" />
                  </td>
				  <td name="timeCell">
					<input type="number" class="form-control" ng-model="selectedVaccine.daysBetween" />
                  </td>
				  <td name="availCell">
					<input type="checkbox" name="available" class="checkbox" value = true ng-model="selectedVaccine.ifAvailable" />
                  </td>

                  <td>
                    <div class="row text-center">
                      <div class="col-md-6">
                          <input type="button" value="Save" class="btn btn-success" name="saveVaccine" ng-click="saveVaccine()" />                          
                      </div>
                      <div class="col-md-6">
                          <input type="button" value="Cancel" class="btn btn-danger" name="cancelEdit" ng-click="resetSelected()" />                            
                      </div>
                    </div>
                  </td>
                </script>

								<br>
								<div class="row">
									<div class="col-md-12">
										<div class="panel panel-default">
											<div class="panel-heading ">Add a Vaccine</div>
											<div class="panel-body">
												<form class="form-horizontal" role="form" name="addVaccineForm"
													ng-submit = "addVaccine(addVaccineForm.$valid)">
													<div class="row">
														<div class="col-md-4">
															<label>Name</label> <input type="text"
																class="form-control" name="vaccine" ng-model="vaccine.name"
																placeholder = "Name of Vaccine" required />
														</div>
														<div class="col-md-4">
															<label>Number of Doses</label> <input type="number" 
																class="form-control" name="doses" ng-model="vaccine.doseNumber" 
																placeholder = "Number of Doses" required />
														</div>
														<div class="col-md-4">
															<label>Minimum Age</label> <input type="number" 
																class="form-control" name="minage" ng-model="vaccine.ageMin" 
																placeholder = "Min Age for Vaccine" required />
														</div>
														<div class="col-md-4">
															<label>Maximum Age</label> <input type="number" 
																class="form-control" name="maxage" ng-model="vaccine.ageMax" 
																placeholder = "Max Age for Vaccine" required />
														</div>
														<div class="col-md-4">
															<label>Time Between Doses (Days)</label> <input type="number" 
																class="form-control" name="days" ng-model="vaccine.daysBetween" 
																placeholder = "Days Between Doses" required />
														</div>
													</div>
													<div class="row">
														<div class="col-md-12 text-right">
															<button type="submit" class="btn btn-success"
																name="submit">Submit</button>
														</div>
													</div>
												</form>
												<div>
													<p style="color: red" ng-model="errorAdding" id="errP">{{errorAdding}}</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
</body>

</html>

<!-- still here? -->